body {
  position: relative;
}

.container {
  border: 2px solid green;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-bottom: 50%;
  background-image: url(simple-sounds-logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}

.flex {
  display: flex;
  border: 1px solid red;
}

span {
  position: relative;
  top: 2em;
  left: 2em;
}

img {
  display: inline-block;
  width: 100%;
}

.box {
  border: 1px solid black;
  color: red;
  margin: 0.5em;
}

.top-left-right {
  height: 33%;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.top-right-down {
  width: 20%;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.bottom-right-left {
  height: 33%;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.bottom-left-up {
  width: 20%;
  flex-direction: column-reverse;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.top-left-right .box, .bottom-right-left .box {
  width: 20%;
}

.top-right-down .box, .bottom-left-up .box {
  height: 27%;
}

@media (max-width: 600px) {

  .container {
    position: static;
    background-image: none;
  }

  .container .flex {
    position: static;
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  .container .flex .box {
    width: 100%;
  }

}
